In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
##load the tarained model,scaler,onhotencoder
from tensorflow.keras.models import load_model
model=load_model('model.h5')

#load the encode and sclaer
with open('onehot_encoder','rb') as file:
    label_encoder_gea=pickle.load(file)

with open('Labe_encoder.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)   

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
#example
input_data={
    'creditscore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'tenure':3,
    'Balance':60000,
    'Numofproducts':2,
    'hascrcard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [6]:
#one-hot encode 'Geography'
goe_encoded=label_encoder_gea.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(goe_encoded,columns=label_encoder_gea.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Python\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [7]:
input_df=pd.DataFrame([input_data])
input_df

,creditscore,Geography,Gender,Age,tenure,Balance,Numofproducts,hascrcard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [18]:
#combine one-hot encoded columns with input data
input_df['gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,creditscore,Gender,Age,tenure,Balance,Numofproducts,hascrcard,IsActiveMember,EstimatedSalary,gender,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1,1.0,0.0,0.0

In [21]:
## concatitnation one hot encoder

input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

KeyError: "['Geography'] not found in axis"